/* Error: Undefined variable.
 *   ,
 * 9 |         gap: $spacing-3; // Fügt Abstand zwischen den Karten hinzu
 *   |              ^^^^^^^^^^
 *   '
 *   src\scss\components\leistungen.scss 9:14  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 9 \2502          gap: $spacing-3; // F\fc gt Abstand zwischen den Karten hinzu\d\a   \2502               ^^^^^^^^^^\a   \2575 \a   src\\scss\\components\\leistungen.scss 9:14  root stylesheet";
}
